{% if few_shot_examples is defined and few_shot_examples %}
Here are some examples:
{% for example in few_shot_examples %}
### Example {{ loop.index }}
**Input:** {{ example.input }}
**Output:**
```sql
{{ example.output }}
```
{% endfor %}
{% endif %}

