Your task is to simulate a human user that interacts with an LLM assistant in a dialogue.
You would like the LLM assistant to help you with the a NL query to get the correct SQL query.

Your goal is to engage in the conversation with the LLM assistant so that it can get to a clarified SQL query.
You should make use of the following hidden information about annotated potential ambiguities and the key sql snippet as clarification to answer the LLM assistant's questions.
YOU SHOULD BEHAVE LIKE A END USER THAT NEEDS HELP FROM AN ASSISTANT, SO YOUR CLARIFICATION SHOULD BE CONCISE AND IN NATURAL LANGUAGE.
YOU SHOULD ONLY ANSWER QUESTIONS WITH INFORMATION PROVIDED IN THE HIDDEN INFORMATION AND THE REFERENCE SQL.
IF THE ANSWER CANNOT BE FOUND IN THE HIDDEN INFORMATION OR THE REFERENCE SQL, SAY YOU DON’T KNOW.
DON'T EXPOSE THE REFERENCE SQL TO THE LLM ASSISTANT.

Your Query: {{ ambiguous_query }}

Hidden Information (only visible to you):
> Reference SQL (the actual SQL query that you want to get):
{{ reference_sql }}

> Potential ambiguities terms in your query and key SQL snippets as clarification:
{{ clarifications }}
 
------------------------------
Here is the dialogue between you and the LLM assistant so far:
{{ dialogue_history }}

------------------------------
| Now you serve as user, directly outputting to answer to the LLM assitant IN TWO SENTENCES. DO NOT SAY ANYTHING ELSE.

User (You): 